#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  text-align: center; 
}

#contact {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  text-align: center; 
  background-color: rgb(207, 205, 205)
}

#intro {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  text-align: left; 
  background-color: rgb(207, 205, 205);
}

#innerIntro{
    text-align: center; 
}

#introImage{
    border-radius: 50%;
    height: 50%;
    text-align: right;  
}

#greeting-container {
  margin-top: 20px;
}

.row {
   display: table;
   width: 100%;
   table-layout: fixed; 
   border-spacing: 5px; 
}
.column {
   display: table-cell;
    text-align: center;
}

.rowImage{
    width: 15vw;
    height: 30vh;
}

.topnav {
  margin-bottom: 0; 
  overflow: hidden;
  background-color: #333;
}

/*Sets the default styling for items in the navbar*/
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/*Changes the color of the hovered item in the navbar*/
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/*Changes the color of the active item in the navbar*/
.topnav a.active {
  background-color: rgb(231, 131, 16);
  color: white;
}